body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  vertical-align: middle;
  display: block;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width:768px) {
  .container {
  max-width: 736px;
  padding-left: 16px;
  padding-right: 16px;
  
}
}

@media screen and (min-width:1158px) {
  .container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  
}
}


/* #region header */
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.nav-header {
  display: flex;
  align-items: center;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.logo-style {
  color: #2e2f42;
}

.nav-list-header {
  display: none;
}

@media screen and (min-width:768px){
  .nav-list-header {
  display: flex;
  gap: 40px;
}
}


.nav-header-item {
}
.nav-header-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-header-link:hover,
.nav-header-link:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}
.header-addr {
  padding: 16px 0;
}

@media screen and (min-width:1158px)  {
  .header-addr {
  padding:0;
}
  
}
.header-addr-list {
  display: none;
}

@media screen and (min-width:768px) {
  .header-addr-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
}
@media screen and (min-width:1158px) {
  .header-addr-list {
  display: flex;
   flex-direction: row;
  gap: 40px;
}
}

.header-addr-item {
}
.header-addr-link {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
  color: #434455;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-addr-link:hover,
.header-addr-link:focus {
  color: #404bbf;
}

@media screen and (min-width:1158px) {
  .header-addr-link {
  padding-bottom: 24px;
  padding-top: 24px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}
  
}
.btn-mob-menu {
  border: none;
  padding: 0;
  background-color: transparent;
  line-height: 0;
  fill: #2F2F37;
  display: block;
}
@media screen and (min-width:768px) {
  .btn-mob-menu {
  display: none;
}
}

.current {
  color: #404bbf;
}

.current::after {
  content: '' '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
}
/* #endregion header */

/* #region hero */

.hero {
  min-width: 320px;
  margin: 0 auto;
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bg-mob.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
@media screen and (min-width:320px) and (min-resolution: 2x) {
  .hero{
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-mob@2x.png);
  }
}
@media screen and (min-width:768px) {
  .hero {
  min-width: 768px;
  padding-top: 109px;
  padding-bottom: 112px;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bg-tablet.png);
}
}
@media screen and (min-width:768px) and (min-resolution: 2x) {
  .hero{
    background-image:linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg-tablet@2x.png);
  }
}
@media screen and (min-width:1158px) {
  .hero {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/bg-image.jpg);
}
}
@media screen and (min-width:1158px) and (min-resolution: 2x) {
  .hero{
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url(../images/bg-desktop@2x.jpg);
  }
}

.hero-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
  margin: 0 auto;
  margin-bottom: 72px;
}
@media screen and (min-width:768px) {
  .hero-title {
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  margin-bottom: 40px;
}
}

@media screen and (min-width:1158px) {
  .hero-title {
  margin-bottom: 48px;
}
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}
/* #endregion hero*/

/* #region description */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.description {
  padding-top: 96px;
  padding-bottom: 96px;
}

.description-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.description-item {

}
.description-icon {
  display: none;
}

.description-text-header {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
  margin-bottom: 8px;
}
.description-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
@media screen and (min-width:768px){
  .description-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.description-item {
  width: calc((100% - 24px) / 2);
}
.description-text-header {
text-align: left;
}

}

@media screen and (min-width:1158px) {
  .description {
  padding-top: 120px;
  padding-bottom: 120px;
}
  .description-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
}
.description-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}
.description-item {
  width: calc((100% - 72px) / 4);
}
.description-text-header {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
}
.description-text {
  font-weight: 400;
}
}

/* #endregion description */

/* #region team*/
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.team-list-item-photo {
}
.employee {
  padding: 32px 0 32px;
}
.team-list-item-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.team-list-item-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.team-socials-item {
}
.team-socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-socials-icon {
  fill: #f4f4fd;
}
.team-socials-links:hover,
.team-socials-links:focus {
  background-color: #404bbf;
}
/* #endregion team */

/* #region portfolio */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}
.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  padding: 40px 32px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
  transform: translateY(0);
}

.project-description {
  padding: 32px 16px;
  border-right: 1px solid rgba(231, 233, 252, 1);
  border-bottom: 1px solid rgba(231, 233, 252, 1);
  border-left: 1px solid rgba(231, 233, 252, 1);
}

.portfolio-list-item-project {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-item-sector {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion portfolio */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}
.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}
.footer-logo-style {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.social-media {
  margin-right: 80px;
}
.footer-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 00.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.socials-links-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.socials-links-item {
  width: 40px;
  height: 40px;
}
.socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-icon {
  fill: #f4f4fd;
}
.socials-links:hover,
.socials-links:focus {
  background-color: #31d0aa;
}
.socials-icon {
}

.subscribe-block {
}
.footer-title {
}
.footer-form {
  display: flex;
  align-items: flex-end;
  gap: 24px;
}

.footer-label {
}
.visually-hidden {
}
.footer-input {
border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
background-color: transparent;
padding-left: 16px;
padding-right: 16px;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #fff;
box-shadow: 4px 4px rgba(0, 0, 0, 0.15)
}
.footer-input::placeholder{

color: #fff;
  
}
.footer-btn {
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  height: 40px;
  font: "Roboto", sans-serif;
  font-size: 16px;;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  fill: #fff ;
}
.send-icon{
  margin-left: 16px;
}
.footer-btn:hover{
  background-color:#404BBF;
}
/* #endregion footer */
/* #region backdrop */
.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 24px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover,
.close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: #fff;
}

.modal-title {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
  margin-bottom: 16px;
  color:#2E2F42;
}
.modal-form {
}
.modal-container-block {
  margin-bottom: 8px;
}
.label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
line-height: 1.17;
letter-spacing: 0.04em;
  display: block;
  margin-bottom: 4px;
}
.modal-form-input-cont {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid #4d5ae5;
}
.modal-form-icon {
  fill: 2e2F42;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:hover + .modal-form-icon,
.modal-form-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}

.user-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color:rgba(46, 47, 66, 0.4);
}
.user-comment::placeholder {
  color: rgba(46, 47, 66, 0.40));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16667;
  letter-spacing: 0.04em;
}
.user-comment:focus {
  border-color: #4d5ae5;
}
.modal-container-block-texarea {
  margin-bottom: 16px;
}
.modal-form-con-checkbox {
  margin-bottom: 24px;
}
.checkbox {
}
.checkbox-label {
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
cursor: pointer;
margin-bottom: 24px;
display: block;
}

.custom-checkbox {
  border-radius: 2px;
  border:1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 8px;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.checkbox:checked + .checkbox-label .custom-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.checkbox-icon {
}
.checkbox-link {
line-height: 1.33;
text-decoration: underline;
color: #4d5ae5;
}

.modal-btn {
  border-radius: 4px;
    margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4D5AE5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.modal-btn:hover {
background: #404bbf;
}
/* #endregion backdrop */

/* #region mob-menu */
.mobile-menu {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
pointer-events: mone;
transform: translateX(100%);
transition: 250ms tranform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 16px 40px 16px;
}

.mobile-menu.is-open {
opacity: 1;
visibility: visible;
pointer-events: all;
transform: translateX(0%)
}
.close-btn-menu {
    padding: 0;
  height: 24px;
  width: 24px;
  border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  line-height: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}
.close-icon {
}
.mob-nav {
}
.mob-nav-list {
display: flex;
flex-direction: column;
gap: 40px;
margin-bottom: 168px;
}
.mob-nav-item {
}
.mob-nav-link {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
.current-mob {
  color: #404bbf;
}
.mob-addr {
}
.mob-addr-list {
display: flex;
flex-direction: column;
gap: 24px;
margin-bottom: 48px;
}
.mob-addr-item {
}
.mob-addr-link {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #434455;
}
.mob-menu-socials {
  display: flex;
  justify-content: space-between;
}
.mob-socials-item {

}
.mob-socials-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
fill: #f4f4fd;
}
.mob-socials-icon {
}
/* #endregion mob-menu */


